@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

@font-face {
    font-family: "roboto";
    src: url(../fonts/robotoLight.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100%;
    align-items: center;
    background-image:url(../images/wall.jpg);
    background-attachment: fixed;
}

/*-------HEADER-------*/
/*-------LOGO--------*/

.logo a img {
    width: 7rem;
}

/*-------BARRA DE NAVEGACION--------*/

.secciones li {
    margin-right: 15px;
}

.secciones li a {
    text-decoration: none;
    color: white;
}

.container-fluid button {
    background-color: rgba(255, 255, 255, 0.232);
}

/*-------BODY--------*/
    /*-------TITULO---------*/

.tituloMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.titulo {
    font-family: "roboto", sans-serif;
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-bottom: 0;
}

    /*------INFORMACION GENERAL-------*/

.tarjetas {
    background-color: rgba(165, 164, 164, 0.619);
    box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
-webkit-box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
-moz-box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
}

.cards {
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 15px;
}

.botonTarjetas {
    padding-bottom: 15px;
}

.botonTarjetas button a {
    text-decoration: none;
    color: white;
}

.botonContratar button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.botonContratar button {
    background-color: black;
}

.card {
    box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
-webkit-box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
-moz-box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
}

.card-text {
    text-align: center;
}

.cajasTexto {
    font-family: "roboto", sans-serif;
    display: flex;
    color: white;
    align-items: center;
}


/*-------FOOTER-------*/

.pie-de-pagina { 
    width: 100%;
    background-color: white ;
    text-align: center;
    display: grid;
    grid-template-columns: 700px 700px;
    grid-template-rows: 30px;
    justify-content: center;
    align-items: center;
}

.pie-de-pagina p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    font-family: "roboto", sans-serif;
    margin-bottom: 0;
}

.pie-de-pagina div {
    display: flex;
    justify-content: space-evenly;
}

.pie-de-pagina div a {
    color: black;
}

/*-------SECCION CONTACTO-------*/

.cuentanos {
    color: white;
    text-align: center;
}

.cuentanos h4 {
    margin-left: 20%;
    margin-right: 20%;

}

.formulario {
    background-color: rgba(165, 164, 164, 0.619);
    box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
-webkit-box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
-moz-box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
}

.campos {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15%;
    padding-right: 15%;
}

.campos div {
    padding-left: 10%;
    padding-right: 10%;
}

.col-12 {
    text-align: center;
}

/*-------SECCION NOSOTROS------*/

.general {
    background-color: rgba(165, 164, 164, 0.619);
    box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
-webkit-box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
-moz-box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
}

/*-------SECCION RECURSOS-------*/



/*MEDIA QUERIE MOBILE*/

@media screen and (max-width: 500px){

    .encabezado {
        display: flex;
        margin-top: 10px;
    }

    .encabezado nav{
        margin-right: 15px;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .navbar li a {
        font-size: 15px;
    }

    .serviciosMain {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .serviciosMain div {
        width: 0%;
        height: 0%;
        padding-bottom: 5px;
    }

    .serviciosMain div button {
        height: auto;
    }

    .serviciosMain p {
        font-size: 15px;
        padding-bottom: 10px;
    }

    .contenedor img {
        width: 50%;
    }

    .contenedor iframe {
        width: 50%;
        height: 80%;
    }

    .cotizar {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .cotizarServicio button {
        width: auto;
        height: auto;
        padding: 5px 5px 5px 5px;
    }

    .pie-de-pagina {
        display:inline-block;
    }

    .titulo {
        font-size:large;
    }

    .contenedorNosotrosUno {
        display: flex;
        font-size: small;
    }

    .contenedorNosotrosDos {
        display: flex;
        font-size: small;
    }

}