@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "roboto";
  src: url(../fonts/robotoLight.ttf);
}
.main {
  width: 100%;
  height: 100%;
  align-items: center;
  background-image: url(../images/wall.jpg);
  background-attachment: fixed;
}

.logo a img {
  width: 7rem;
}

.container-fluid button {
  background-color: rgba(255, 255, 255, 0.232);
}

.secciones li {
  margin-right: 15px;
}
.secciones li a {
  text-decoration: none;
  color: white;
}
.secciones li a:hover {
  color: rgba(255, 255, 255, 0.608);
  -webkit-text-decoration: underline 3px;
          text-decoration: underline 3px;
  transition: 0.1s ease;
}

.pie-de-pagina {
  width: 100%;
  background-color: white;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}
.pie-de-pagina p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  margin-bottom: 0;
}
.pie-de-pagina div {
  display: flex;
  justify-content: space-evenly;
}
.pie-de-pagina .bi-instagram {
  color: #ea8b19;
}
.pie-de-pagina .bi-youtube {
  color: #f70000;
}
.pie-de-pagina .bi-whatsapp {
  color: #41df5e;
}

.tituloMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.titulo {
  font-family: "roboto", sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.tarjetas {
  background-color: rgba(165, 164, 164, 0.619);
  box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
}

.card {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
  margin-top: 20px;
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.cards {
  justify-content: space-evenly;
  padding-top: 25px;
  padding-bottom: 15px;
}

.card-text {
  text-align: center;
}

.botonTarjetas {
  padding-bottom: 15px;
}
.botonTarjetas button a {
  text-decoration: none;
  color: white;
}
.botonTarjetas button:hover {
  background-color: grey;
}

.botonContratar {
  padding-bottom: 15px;
}
.botonContratar button {
  background-color: black;
}
.botonContratar button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.cajasTexto {
  font-family: "roboto", sans-serif;
  display: flex;
  color: white;
  align-items: center;
}

.general {
  background-color: rgba(165, 164, 164, 0.619);
  box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
}

.bi-instagram {
  color: #ea8b19;
}

.bi-youtube {
  color: #f70000;
}

.bi-whatsapp {
  color: #41df5e;
}

.cajitaInstagram, .cajitaWhatsapp, .cajitaYoutube {
  background-color: #e00135;
  font-size: 20px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  align-items: center;
  box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
}
.cajitaInstagram a, .cajitaWhatsapp a, .cajitaYoutube a {
  color: white;
}

.cajitaYoutube {
  background-color: white;
  box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
}
.cajitaYoutube a {
  color: black;
}

.cajitaWhatsapp {
  background-color: #22222a;
  box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
}

.medias {
  display: flex;
  justify-content: space-evenly;
}
.medias div a {
  text-decoration: none;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .medias {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    flex-wrap: wrap;
  }
  .navbar li a {
    font-size: 15px;
  }

  .pie-de-pagina {
    display: inline-block;
  }
}
.general {
  background-color: rgba(165, 164, 164, 0.619);
  box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
}

.avatar-xl {
  width: 10rem;
  height: 10rem;
}

.servicioCarta {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.icon-lg {
  width: 3.5rem;
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1;
}

.columna {
  margin-top: 2rem !important;
  text-align: start;
  color: white;
}

.subtitulo {
  text-align: center;
  color: white;
  padding-top: 2rem;
}

.cuentanos {
  color: white;
  text-align: center;
}

.cuentanos h4 {
  margin-left: 20%;
  margin-right: 20%;
}

.formulario {
  background-color: rgba(165, 164, 164, 0.619);
  box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
}

.campos {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15%;
  padding-right: 15%;
}

.campos div {
  padding-left: 10%;
  padding-right: 10%;
}

.col-12 {
  text-align: center;
}

/*-------SECCION NOSOTROS------*/
.general {
  background-color: rgba(165, 164, 164, 0.619);
  box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: -8px -7px 54px -1px rgba(0, 0, 0, 0.72);
}

.avatar-xl {
  width: 10rem;
  height: 10rem;
}/*# sourceMappingURL=estilos.css.map */