.tituloMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.titulo {
    font-family: "roboto", sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.tarjetas {
    background-color: $background-general;
    box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
-webkit-box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
-moz-box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
}

.card {
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    margin-top: 20px;
    &:hover {
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translateY(-3%);
    }
}

.cards {
    justify-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 15px;
}

.card-text {
    text-align: center;
}

.botonTarjetas {
    padding-bottom: 15px;
    button {
        a {
            text-decoration: none;
            color: white;
        }
        &:hover {
            background-color: grey;
        }
    }
}

.botonContratar {
    padding-bottom: 15px;
    button {
        background-color: black;
        a {
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
    }
}

.cajasTexto {
    font-family: "roboto", sans-serif;
    display: flex;
    color: white;
    align-items: center;
}

.general {
    background-color: $background-general;
    box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
-webkit-box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
-moz-box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
}

@each $redSocial, $color in $redes {
    .bi-#{$redSocial} {
        color: $color;
    }
}

.cajitaInstagram {
    background-color: map-get($estilosRedes, fondoInsta);
    font-size: map-get($estilosRedes, tFuente);
    width: map-get($estilosRedes, ancho);
    height: map-get($estilosRedes, alto);
    border-radius: map-get($estilosRedes, redondeado);
    align-items: center;
    box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
-webkit-box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
-moz-box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
    a {
        color: white;
    }
}

.cajitaYoutube {
    @extend .cajitaInstagram;
    background-color: map-get($estilosRedes, fondoYoutube);
    box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
-webkit-box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
-moz-box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
    a {
        color: black;
    }
}

.cajitaWhatsapp {
    @extend .cajitaInstagram;
    background-color: map-get($estilosRedes, fondoWhatsapp); 
    box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
-webkit-box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
-moz-box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
}

.medias {
    @include display ();
    div { 
        a {
            text-decoration: none;
            text-align: center;
        }
    }
    @include mobile {
        flex-direction: column;
        align-items: center;
    }
}
