.general {
    background-color: rgba(165, 164, 164, 0.619);
    box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
    -webkit-box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
    -moz-box-shadow: -8px -7px 54px -1px rgba(0,0,0,0.72);
}

.avatar-xl {
    width: 10rem;
    height: 10rem;
}