.main {
    width: 100%;
    height: 100%;
    align-items: center;
    background-image:url(/images/wall.jpg);
    background-attachment: fixed;
}

.logo {
    a {
        img {
            width: 7rem;
        }
    }
}

.container-fluid {
    button {
        background-color: $color-background;
    }
}

.secciones {
    li {
        margin-right: 15px;
        a {
            text-decoration: none;
            color: white;
            &:hover {
                color: $color-hover-li;
                text-decoration: underline 3px;
                transition: 0.10s ease;
            }
        }
    }
}

